* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1a1a1a;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 30px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}


#introducao {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    background-color: rgb(60, 60, 60);
    color: rgb(200, 200, 200);
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

#introducao img {
    width: 170px;
    height: 200px;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid rgba(220, 20, 60, 0.421);
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: bold;
}

#botoes-introducao {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    border-radius: 0px;
}

#img-introducao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 0;
}

#introducao a {
    border-radius: 0px;
}

#introducao h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

#destaque {
    padding: 40px 60px;
    margin-bottom: 20px;
}

#por-que-sao-especiais {
    color: rgb(200, 200, 200);
    margin-top: 20px;
    margin-bottom: 20px;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

.card {
    background-color: rgb(60, 60, 60);
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 0px;
    color: rgb(200, 200, 200);
    border-radius: 5px;
}

.card h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

small {
    color: rgba(220, 20, 60, 0.421);
    text-transform: uppercase;
}

footer {
    padding: 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
}

#menu-final {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

#rodapé p {
    margin-top: 10px;
}
